@import url(https://fonts.googleapis.com/css?family=Sansita+One);
@import url(https://fonts.googleapis.com/css?family=Kadwa);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #D3E0FF;
	font-family: 'Kadwa', serif;
	font-size:16px;
}
header{
	font-family: 'Sansita One', cursive;
}

h1 span{
	color: white;
	font-family: 'Sansita One', cursive;
	font-weight: bolder;
	font-size: 1.5em;	
	margin: 10px;
	padding: 2px;
	letter-spacing: 1px;
	background: rgba(0,0,0,.7);
}
h2 span{
	color: white;
	font-weight: normal;
	font-family: 'Kadwa', serif;
	font-size: 1.25em;	
	letter-spacing: 1px;
	background: rgba(0,0,0,.7);
	margin-top: 50px;
}
h3{
	font-size: 1.75em;
	font-family: 'Sansita One', cursive;
	font-weight: normal;
	margin: 40px 0;
}
p{
	font-size: 1.25em;
}
ul{
	font-size: 1.5em;
	width:  100%;
	text-align: left;
	line-height: 150%;
	list-style: none;
}
li{
	margin: 40px;
	
}
hr{
	border-width: 2px;
}
nav {
	text-align: center;
	font-size:  2.25em;
}
nav a{
	font-family: Helvetica, Sans-Serif;
	background: #E88E2E;
	color: white;
    padding: .5em 1em;
   	width: 15em;
    text-decoration: none;
    display: block;
    float: left;
    font-size: .75em;
}
nav a:hover {
	background-color: white;
	color: orange;
}
img{
	width: 50%;
	float: left;
	 border: 1px black solid;
}
footer {
	margin-top: 20px;
	font-family: 'Sansita One', cursive;
}
article{
	margin: 20px 2px;
}
#main_pic{
	margin-top: 20px;
	background: url("../images/main_pic.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 68em;
	text-align: right;
}
.info{
	font-family: 'Sansita One', cursive;
	font-weight: bolder;
	text-align: center;
	font-size: 2.25em;
	margin: 20px;
}
#wrapper {
	width: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
#testimonials{
	margin: 20px 0;
}
#testimonials p{
	display: inline;
	margin: 20px;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	visibility; hidden;
}
#two_column {
    border: 1px black solid;
    padding: 20px;
}

#left {
    float: left;
    width: 30%;
}

#right {
    float: right;
    width: 70%;
}
