body{
	background: #A0D8FF;
	font-family: Helvetica, Sans-Serif;
}
hr{
	border-width: 2px;
}
nav {
	text-align: right;
	font-size:  2.25em;
}
h1 span, h2 span{
	color: white;
	font: bold 48px/54px Helvetica, Sans-Serif;
	letter-spacing: 1px;
	background: rgba(0,0,0,.7);
}
	span.spacer{
  		padding:0 .4em;
	}

p{
	font-style: italic;
	font-size: 1.5em;
}
h3{
	font-size: 1.5em;
}
ul{
	font-size: 1.5em;
	width:  100%;
	text-align: left;
}

footer{
	text-align: center;
}

.button{
	background: #E88E2E;
	color: white;
    border: none;
    border-radius: 2em;
    border-style: ridge;
    padding: .25em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.main_pic{
	background: url("../images/place_holder.JPG");
	width: 100%;
	height: 68em;
	background-repeat: no-repeat;
	text-align: right;
}

#info{
	text-align: center;
	font-size: 2.25em;
	font-style: italic;
}
